@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500;700;900&display=swap");

* {
	padding: 0;
	margin: 0;
	font-family: "Noto Sans KR", -apple-system, BlinkMacSystemFont,
		"Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans",
		"Helvetica Neue", sans-serif;
	box-sizing: border-box;
}

body {
	width: 1300px;
	margin: 10px auto;
}

.header {
	padding-top: 50px;
	height: 20%;
}

.container {
	height: 80%;
}

.footer {
	display: block;
	height: 20%;
	margin-bottom: 0px;
}

.header-top {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 75px;
  padding: 1rem;
  color: white;
  background: teal;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-left {
	display: inline-block;
}

.header-right {
	float: right;
	padding-left: 50px;
}

.header a {
	text-decoration: none;
	font-size: 30px;
}

.header-right a {
	padding-right: 50px;
	font-size: 25px;
}

.container #mainImg {
	width: 1300px;
	height: 20%;
	margin-top: 50px;
}

.container #shopping {
	width: 1300px;
	margin-top: 50px;
}

.container #shopping #container-left {
	width: 600px;
	height: 300px;
	display: inline-block;
}

.container #shopping #container-up {
	margin-left: 100px;
	width: 500px;
	height: 100px;
	display: inline-block;
}

.container #shopping #container-down {
	margin-left: 100px;
	margin-up: 50px;
	width: 500px;
	height: 100px;
	display: inline-block;
}

.container #rank {
	height: 500px;
}